:root {
  --header: rgba(127, 127, 255, 0.6);
  --exists: rgba(127, 127, 255, 0.3);
  --odd: rgba(0, 0, 0, 0.05);
  --even: rgba(0, 0, 0, 0.1);
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem 1rem 3rem;
  position: relative;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dl {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 0.2rem;
}

dt {
  text-align: right;
}

dt::after {
  content: ':';
}

dd {
  margin: 0;
}

dd.rate::after {
  content: '%';
}

thead {
  background-color: var(--header);
}

tbody tr:nth-child(odd) {
  background: var(--odd);
}

tbody tr:nth-child(even) {
  background: var(--even);
}

td {
  font-family: monospace;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

td:has(input) {
  text-align: center;
}

td[colspan="2"] {
  background-color: var(--header);
  text-align: center;
  font-weight: bold;
  line-height: 1.5rem;
}

td.space3 {
  padding-left: 1.5rem;
}

td.space7 {
  padding-left: 3.5rem;
}

td.exists {
  background-color: var(--exists);
}

label {
  user-select: none;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
}

td > input {
  pointer-events: none;
}

td a {
  text-decoration: none;
}

td[colspan="2"] a:not(:hover) {
  color: black;
}

td a:hover {
  text-decoration: underline;
}

td a::after {
  content: '🡵';
  display: inline-block;
  margin-left: 0.4rem;
  border: 2px solid;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  scale: 0.7;
}

body.implemented tbody:not(.exists) {
  display: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer small {
  display: inline-block;
}

footer small + small{
  margin-left: 0.5rem;
}

footer a {
  display: inline-block;
  margin-left: 0.2rem;
  text-decoration: none;
}
